<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="практика.Properties.Settings.курсовая_работаConnectionString"
            connectionString="Data Source=ANNA;Initial Catalog=&quot;курсовая работа&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="практика.Properties.Settings.САГОСConnectionString"
            connectionString="Data Source=ANNA;Initial Catalog=САГОС;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>